html{  
  background-color: #FFF7F3; 
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  align-items: center;
  font-size: calc(20px + 2vmin);
  font-family: Sansita;
  color: black;
  margin-top: 10px;
}


.menu{
  font-size: calc(18px + 2vmin);
  scroll-behavior: smooth;
}

.menu ul{
  display: flex;
  list-style: none;
  white-space: nowrap;
  overflow: scroll;
  margin-bottom: 0;
}

.menu li{
  margin: 0 0px 12px;
  letter-spacing: 5px;
}

.menu li p{
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  color: #888EA6;
  text-decoration: none;
  margin: 0;
}

.menu li p:after{
  background: none repeat local 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #A7D489 ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu li p.active{
  color: black;
  font-weight: 600;
}

.menu li p.active:after{
  left: 23%;
  width: 50%;
}

.menu li:last-child{
  padding-right: 1em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.content{
  background: -webkit-gradient(linear, bottom, top, from(#FFF7F3), to(#A7D489));
  background: linear-gradient(#FFF7F3 0%, #A7D489 10%);
  padding-top: 15px;
}